@import "reset.css"

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  height: 100vh;
  margin: 0;
}

header {
  background-color: #E5F3F2;
  text-align: center;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 5rem;
  color: #00A79D;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 45px;
}

.title__color {
  color: #6D6E71;
  margin-left: -4px;
}

input {
  display: block;
  margin: 0 auto 1.5rem auto;
  padding: .5rem 1rem;
  border: 1px solid #6D6E71;
  box-sizing: border-box;
  font-size: 2rem;
  height: 4rem;
  width: 86%;
}

input::placeholder {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: #C5C6C8;
  padding-top: 1rem;
}

#userinput__btn {
  background-color: #00A79D;
  font-size: 2rem;
  color: white;
  height: 4rem;
  width: 86%;
  margin: .5rem 0 3rem 0;
}

#userinput__btn:hover {
  background-color: #045E55;
}

#input-submit:disabled {
  opacity: 0.5;
}

.card__list {
  height: 50%;
}

article {
  position: relative;
  margin: 1rem auto 1rem auto;
  border-bottom: 1px solid #C5C6C8;;
  height: 12rem;
  width: 75%;
}

h2 {
  display: inline-block;
  margin: 0;
  font-family: 'Bitter', serif;
}

.card__icon {
  height: 2rem;
  width: 2rem;
  border: none;
}

.card__icon--votes {
  display: inline-block;
  vertical-align: middle;
}

.card__icon--upvote {
  background-image: url('assets/upvote.svg');
  background-repeat: no-repeat;
}

.card__icon--upvote:hover {
  background-image: url('assets/upvote-hover.svg');
}

.card__icon--downvote {
  background-image: url('assets/downvote.svg');
  background-repeat: no-repeat;
}

.card__icon--downvote:hover {
  background-image: url('assets/downvote-hover.svg');
}

.card__icon--delete {
  background-image: url('assets/delete.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.card__icon--delete:hover {
  background-image: url('assets/delete-hover.svg');
}

h6 {
  display: inline-block;
  margin-left: 1rem;
}
