@import "reset.css"

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  height: 100vh;
  margin: 0;
}

header {
  background-color: #E5F3F2;
  text-align: center;
}

form {
  width: 86%;
  margin: auto;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 5rem;
  color: #00A79D;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 45px;
}

.title__color {
  color: #6D6E71;
  margin-left: -4px;
}

input {
  box-sizing: border-box;
  display: block;
  margin: 0 auto 1.5rem auto;
  border: 1px solid #6D6E71;
  padding: .5rem 1rem;
  font-size: 2rem;
  height: 2rem;
  width: 72%;
}

input::placeholder {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: #C5C6C8;
  padding-top: 1rem;
}

#userinput__btn {
  background-color: #00A79D;
  font-size: 2rem;
  color: white;
  height: 4rem;
  width: 100%;
  margin: .5rem 0 3rem 0;
}

section {
  height: 50%;
}

article {
  position: relative;
  margin: 1rem auto 1rem auto;
  border-bottom: 1px solid #C5C6C8;;
  height: 12rem;
  width: 75%;
  background-color: lightblue;
}

h2 {
  display: inline-block;
  margin: 0;
  font-family: 'Bitter', serif;
}

.card__icon {
  height: 2rem;
}

#card__icon--delete {
  position: absolute;
  top: 0;
  right: 0;
}

.card__icon--votes {
  display: inline-block;
  vertical-align: middle;
}

h6 {
  display: inline-block;
}










